:root {
  --width: 500px;
  --totalw: 0;
  --w: calc(var(--width) / var(--totalw));
  --fontw: calc(var(--width)*0.8 / var(--totalw));
  --fontsw: calc(var(--width)*0.6 / var(--totalw));
}

body {
  overflow: hidden;
}

.container {
  width: 600px;
  align-content: center;
  vertical-align: middle;
}

.grid {
  position: absolute;
  height: var(--width);
  width: var(--width);
  display: flex;
  flex-wrap: wrap;
  background-color: #dcd6bc;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid #dcd6bc;
  margin-bottom: 10px;
}

div {
  font-size: var(--fontsw);
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

.valid {
  height: var(--w);
  width: var(--w);
  border: 3px solid;
  border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
  box-sizing: border-box;
}

.checked {
  height: var(--w);
  width: var(--w);
  border: 3px solid;
  background-color: #cecab7;
  border-color: #9c998d;
  box-sizing: border-box;
}

.bomb {
  height: var(--w);
  width: var(--w);
  border: 3px solid;
  border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
  box-sizing: border-box;
}

.one {
  color: #57da59;
  font-size: var(--fontw);
}

.two {
  color: #4199d3;
  font-size: var(--fontw);
}

.three {
  color: #e76346;
  font-size: var(--fontw);
}

.four{
  color: #b43acc;
  font-size: var(--fontw);
}

.hotaf {
  color: rgb(90, 4, 4);
  font-size: var(--fontw);
}

#result {
  position: absolute;
  top: calc(var(--width) + 90px);
  left: 50%;
  transform: translateX(-50%);
  color: #e76346;
  font-size: 30px;
}

#flags {
  position: absolute;
  top: calc(var(--width) + 50px);
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
}